body {
    background: black;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header-navigator {
    margin-left: 20%;
}

.header-navigator-list__component {
    white-space: nowrap;
}

.header-navigator-list__component:nth-child(2) {
    margin-left: 75%;
}

.header-navigator-link {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #f75900;
    transition: 0.5s;
}

.header-navigator-link:hover {
    color: white;
    transform: scale(1.2);
}

.burger-menu {
    margin-left: auto;
    display: none;
}

.sidebar-display {
    display: none;
    transition: 0.5s;
}

.sheet-no-display {
    display: none;
    width: 0;
    transition: 0.5s;
}

.sidebar-content {
    display: none;
}

.sidebar-navigator-display {
    display: none;
}

.content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-about {
    display: flex;
    align-items: start;
}

.content-about-text {
    -webkit-font-smoothing: antialiased;
    width: 850px;
    text-align: center;
    padding: 20px 40px;
    transform: skew(20deg);
    background: #f75900;
}

.content-about-text p {
    color: white;
    font-size: 24px;
    transform: skew(-20deg);
}

.content-about-contacts {
    margin-left: 9%;
}

.content-about-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-about-contact-list-title {
    color: white;
    font-size: 30px;
}

.content-about-contacts-list__component {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.content-about-contacts-list-link {
    margin-left: 3%;
    text-decoration: none;
    color: white;
}

.content-about-contacts-list-link__component {
    margin-left: 15%;
    white-space: nowrap;
}

.services {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-description-title {
    color: #f75900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
}

.services-description-text {
    margin-top: 60px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    width: 70%;
}

.services-container {
    margin-top: 80px;
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-template-rows:auto;*/
    /*grid-column-gap: 5%;*/
    /*grid-row-gap: 5%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.services-container__component {
    padding: 20px;
    margin: 20px;
    transform: skew(-8deg, 0deg);
    border-radius: 10px;
    background-color: antiquewhite;
    transition: 0.5s transform;
    width: fit-content;

}

.services-container__component:hover {
    transform: skew(0deg);
}

.services-container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-container-description-text {
    width: 350px;
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: #000000;
}

.ip {
    display: flex;
    align-items: start;
}

.ip-card {
    border-radius: 10px;
    background-color: white;
    padding: 10px;

}

.ip__component:nth-child(2) {
    margin-left: 50px;
}

.ip-card-table {
    padding: 10px;
}

.ip-card-table-title__component {
    width: 345px;
    text-align: center;

}

.ip-card-table-price {
    text-align: center;
}

.ip-card-table-price__component {
    padding-top: 10px;
    font-size: 30px;
    color: #333333;
}

.ip-card-table-description {

}

.ip-card-table-description-text {
    margin-left: 30px;
}

.ip-card-table-description-text-list {
    list-style: inside;
    flex-direction: column;
    align-items: start;
    display: flex;
}

.ip-card-table-description-text-list__component {
    width: 450px;
    margin-top: 10px;
    text-align: start;
    margin-left: auto;
    margin-right: auto;

}

.ip-card-table-description-subtitle {
    margin-left: 80px;
    color: #333333;
    font-size: 23px;
    margin-top: 20px;
}

.ip-card-table-description-footer-description {
    padding-top: 30px;
    color: #333333;
    font-size: 18px;
}

